/* #header_section {
  background-color: #f8f9fa;
} */
footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
}
#footer_bg {
  background-image: url("/static/image/footer_image.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
#footer_bg div {
  background-color: rgba(0, 0, 0, 0.5);
  color: white; /* Text color */
  padding: 10px;
  border-radius: 5px;
}
#logo{
  width: 3rem;
  height: 3rem;
  border-radius: 95%, 95%, 95%, 95%;
}