{% extends "base.html" %}
{% load static %}
{% block headerfile %}
    <link href="{% static 'css/404.css' %}" rel="stylesheet" />
    <script src="{% static 'js/404.js' %}"></script>
{% endblock %}
{% block placeholder %}
<main>
    <div class="container-fluid d-flex justify-content-center align-items-center melting-background" style="background: rgba(34, 139, 238, 0.358);">
        <div class="col-md">
            <div class="d-flex flex-column text-center text-white p-5">
                <h1 class="fw-bold melting-text">🍕 🍔 🌮 🍩 🍟 🍗 🍎</h1>
                <h1 class="fw-bold melting-text">404 This Page is Overcooked!</h1>
                <h1 class="fw-bold melting-text">🍕 🍔 🌮 🍩 🍟 🍗 🍎</h1>
                <p class="fw-bold fs-4 melting-text">Looks like we left this page in the oven too long. It's burnt!</p>
                <a id="home-button" class="btn btn-primary text-white rounded-pill w-50 mx-auto" href="{% url 'home'%}">Return to Home Page</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}
