<header class="py-3 bg-light" id="header_section">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand ps-5" href="{%url 'home'%}"
          ><b class="h3">Restaurant Web App</b></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="text-center nav-item">
            <a class="nav-link active" href="{% url 'menu'%}">Menu</a>
          </li>
          <li class="text-center nav-item">
            <a class="nav-link active" href="{% url 'ordering'%}">Order</a>
          </li>
          <li class="text-center nav-item">
            <a class="nav-link active" href="{% url 'about'%}">About</a>
          </li>
          <a
              class="btn btn-primary mx-5 text-white text-decoration-none text-nowrap"
              href="{% url 'signup' %}"
              >Sign Up</a>
        </ul>
      </div>
    </nav>
  </header>