{%extends "base.html"%} {%block placeholder%} {% load static %}
<div class="container">
  <div class="row text-center">
    <h1>Our Menu</h1>
  </div>
  <div class="row">
    <section class="menu-section">
      <h2>Breakfast</h2>
      <p>
        All entrees come with a side & bakery item choice of: Hashbrowns, Fresh
        fruit, Cinnamonroll, Muffin, White, Wheat, Sourdough.
      </p>
      <ul>
        {% for item in breakfast_items %}
        <li class="menu-item">
          <img
            src="{{ item.image.url }}"
            alt="{{ item.name }}"
            class="menu-img"
          />
          <div class="food-info">
            <span> {{ item.name }} - ${{ item.price }} </span>
            {% if item.combo_price %}
            <p>Add ${{ item.combo_price }} for combo</p>
            {% endif %}
          </div>
        </li>
        {% empty %}
        <li>No breakfast items available.</li>
        {% endfor %}
      </ul>
    </section>
  </div>
  <div class="row">
    <section class="menu-section">
      <h2>Lunch</h2>
      <p>All entrees come with a side choice of: Fries, Side salad, or Soup.</p>
      <ul>
        {% for item in lunch_items %}
        <li class="menu-item">
          <img
            src="{{ item.image.url }}"
            alt="{{ item.name }}"
            class="menu-img"
          />
          <div class="food-info">
            <span> {{ item.name }} - ${{ item.price }} </span>
            {% if item.combo_price %}
            <p>Add ${{ item.combo_price }} for combo</p>
            {% endif %}
          </div>
        </li>
        {% empty %}
        <li>No breakfast items available.</li>
        {% endfor %}
      </ul>
    </section>
  </div>
  <div class="row">
    <section class="menu-section">
      <h2>Dinner</h2>
      <p>All entrees come with a side choice of: Fries, Side salad, or Soup.</p>

      <ul>
        {% for item in dinner_items %}
        <li class="menu-item">
          <img
            src="{{ item.image.url }}"
            alt="{{ item.name }}"
            class="menu-img"
          />
          <div class="food-info">
            <span> {{ item.name }} - ${{ item.price }} </span>
            {% if item.combo_price %}
            <p>Add ${{ item.combo_price }} for combo</p>
            {% endif %}
          </div>
        </li>
        {% empty %}
        <li>No breakfast items available.</li>
        {% endfor %}
      </ul>
    </section>
  </div>
</div>
{%endblock%}
